<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daily3.me {% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/static/icons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/static/icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
    
	<!-- Custom CSS -->
    <link href="/static/css/style_b.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#daily3-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">DAILY3.me</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="daily3-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Current User</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
		<!--
		<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
		-->
        <!-- /.row -->

        <!-- Posts Row -->
        <div id="posts_row" class="row">
			
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
						<li>Failed miserably at talking to Sky customer service</li>
						<li>Worked up the courage to watch a playthrough of PT</li>
						<li>Had home-made pulled pork burgers</li>
					</ul>
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Finally got some money to spend since summer started.</li>
												<li>Had a nice lunch date with Benjamin and bought Little Big Planet 2.</li>
												<li>Had some froyo and late night Fuego tacos. Feels good to have cash again.</li>
											</ul>
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Woke up late and started doing my online CA guard card classes.</li>
												<li>Got my first real haircut in four years. My hair's still too short to do much of anything besides a fade/combover though.</li>
												<li>The front derailleur on my bike stopped working. I really hope it's an easy and cheap fix since I need my bike to be usable for work.</li>
											</ul>
					
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Recorded some data to improve my habit calendar.</li>
												<li>Spent from 8 am to 9 pm trying out and cataloging different software.  Not as fun as it usually is.</li>
												<li>Ate supper for dad's birthday.</li>
											</ul>
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Volunteered at the freshman move in for 2 hours.</li>
												<li>Went to my friends 60's party.</li>
												<li>Began organizing my friend funeral.</li>
											</ul>
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
						<li>Failed miserably at talking to Sky customer service</li>
						<li>Worked up the courage to watch a playthrough of PT</li>
						<li>Had home-made pulled pork burgers</li>
					</ul>
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Finally got some money to spend since summer started.</li>
												<li>Had a nice lunch date with Benjamin and bought Little Big Planet 2.</li>
												<li>Had some froyo and late night Fuego tacos. Feels good to have cash again.</li>
											</ul>
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Woke up late and started doing my online CA guard card classes.</li>
												<li>Got my first real haircut in four years. My hair's still too short to do much of anything besides a fade/combover though.</li>
												<li>The front derailleur on my bike stopped working. I really hope it's an easy and cheap fix since I need my bike to be usable for work.</li>
											</ul>
					
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Recorded some data to improve my habit calendar.</li>
												<li>Spent from 8 am to 9 pm trying out and cataloging different software.  Not as fun as it usually is.</li>
												<li>Ate supper for dad's birthday.</li>
											</ul>
				</div>
            </div>
            <div class="col-md-4">
				<div class="post-item">
					<p>
						<span id="udm1">Aug 16</span> | 
						<a href="/u/orionmelt">orionmelt</a> posted 13 minutes ago 
						<a href="http://www.reddit.com/r/mydaily3_sandbox/comments/2dok2h/mydaily3_saturday_august_16_2014/cjs2wla" title="view on reddit"><i class="fa fa-comment"></i></a>
						<a class="fav " href="/favorite/ag9kZXZ-ZGFpbHkzZmxhc2tyEQsSBFBvc3QYgICAgIDCrAoM"><i class="fa fa-heart"></i></a>
					</p>
					<ul>
												<li>Volunteered at the freshman move in for 2 hours.</li>
												<li>Went to my friends 60's party.</li>
												<li>Began organizing my friend funeral.</li>
											</ul>
				</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
		
		<script>
		$( document ).ready(function() {
			$( "#posts_row" ).masonry({
				transitionDuration: 0,
				layoutPriorities: {
					shelfOrder: 1000
				}
			});
			
			$( ".fav_link" ).click(function(e) {
				e.preventDefault();
				$(this).toggleClass("faved");
				$.get(this.href);
			});
		});
		</script>

        <!-- Pagination -->
        <!--
		<div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
		-->
        <!-- /.row -->


    </div>
    <!-- /.container -->
	
    <!-- Footer -->
	<div class="footer">
      <div class="container text-center small">
		  Daily3 was born from <a href="http://reddit.com/2chg5w">this post</a> on <a href="http://reddit.com/r/LifeProTips">r/LifeProTips</a>.
      </div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<script src="/static/js/masonry.pkgd.min.js"></script>
	<script src="/static/js/jquery.masonry.ordered.js"></script>
	<script>
	$( document ).ready(function() {
		
		$( "#posts_row" ).masonry({
			transitionDuration: 0,
			layoutPriorities: {
				shelfOrder: 1000
			}
		});
		
		$( ".fav_link" ).click(function(e) {
			e.preventDefault();
			$(this).toggleClass("faved");
			$.get(this.href);
		});
		
	});
	</script>

</body>

</html>
