<!DOCTYPE HTML>
<html>
	<head>
		<title>Daily3.me{% block title %}{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
		<link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/static/icons/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/static/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-panels.min.js"></script>
		<script src="/static/js/init.js"></script>
		<script src="/static/js/moment.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/css/skel-noscript.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/css/ie/v9.css" /><![endif]-->
		{% if g.ga_id %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', '{{ g.ga_id }}', 'auto');
		  ga('send', 'pageview');

		</script>
		{% endif %}
	</head>
	<body class="no-touch">

		<!-- Header -->
		<div id="header">
			<div class="container">
				{% if g.beta %}
				{% set home_link = url_for('home_a', version='a') %}
				{% set me_link = url_for('me_a', version='a') %}
				{% set logout_link = url_for('logout_a', version='a') %}
				{% else %}
				{% set home_link = url_for('home') %}
				{% set me_link = url_for('me') %}
				{% set logout_link = url_for('logout') %}
				{% endif %}
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="{{ home_link }}"><i class="fa fa-list-ul"></i> DAILY3.me</a></h1>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="beta"><a href="{{ url_for('home_a', version='a') }}">{% if g.beta %}Beta Mode{% else %}Try Our New Beta{% endif %}</a></li>
						<li class="{% block nav_home %}{% endblock %}"><a href="{{ home_link }}">Home</a></li>
						{% if g.user %}
						<li class="{% block nav_me %}{% endblock %}"><a href="{{ me_link }}" title="See all your Daily3s"><i class="fa fa-reddit fa-lg"></i> {{ g.user.username }}</a></li>
						{% if g.beta %}
						<li class="{% block nav_fav %}{% endblock %}"><a href="{{ url_for('favorites') }}" title="See all your favorites">Favorites</a></li>
						{% endif %}
						<li><a href="{{ logout_link }}">Logout</a></li>
						{% endif %}
					</ul>
				</nav>

			</div>
		</div>
        <script>
		$( document ).ready(function() {
			
            $( 'body' ).bind('touchstart', function() {
				$(this).removeClass("no-touch");
			});
		});
        </script>
		<!-- Header -->
		{% block content %}
		{% endblock %}
		<div id="footer">
			<div class="container">
				Daily3 was born from <a href="http://reddit.com/2chg5w">this post</a> on <a href="http://reddit.com/r/LifeProTips">r/LifeProTips</a>.
			</div>
		</div>
	</body>
</html>