{% extends "daily3_base.html" %}

{% block title %}
{% if g.user.username == profile.username %}
 - Me
{% else %}
 - Overview for {{ profile.username }}
{% endif %}
{% endblock %}

{% block nav_me %}
{% if g.user.username == profile.username %}active{% endif %}
{% endblock %}

{% set start = 0 %}
{% block content %}
		<!-- Main -->
		<div id="main" class="container">
			<div id="user_head">
				<header>
					<h2><a href="/u/{{ profile.username }}">{{ profile.username }}</a></h2>
				</header>
				<p><a href="http://www.reddit.com/user/{{ profile.username }}">redditor for {{ profile.created_reddit|time_since }}</a></p>
			</div>
			
			<div class="row">
				{% include 'user_panel.html' %}
				{% if g.user %}
				{% for post in posts[:2] %}
				<section class="4u">
					<div class="post">
						{% include 'post_content.html' %}
					</div>
				</section>
				{% endfor %}
				{% set start = 2 %}
				{% else %}
				{% include 'includes/blurb.html' %}
				{% endif %}
			</div>
			<div class="row">
				{% for post in posts[start:] %}
				<section class="4u">
					<div class="post">
						{% include 'post_content.html' %}
					</div>
				</section>
				{% if loop.index is divisibleby 3 %}
			</div>
			<div class="row">
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<!-- /Main -->			
{% endblock %}