					<section id="user_panel">
						{% if g.user %}
						<div id="user_post_a">
							{% if g.user_post %}
							{% set post = g.user_post %}
							<header>
								<h4>My Daily3</h4><span class="counter"><span class="month" id="udmu"><script>$("#udmu").text(moment(moment.utc('{{ post.posted }}').toDate()).format("MMM"));</script></span>
								<span class="day" id="uddu"><script>$("#uddu").text(moment(moment.utc('{{ post.posted }}').toDate()).format("D"));</script></span>
								<span class="source_link">
									{% if post.source_link %}<a href="{{ post.source_link }}" title="view on reddit"><i class="fa fa-comment"></i></a>{% endif %} 
								</span>
								<noscript><span class="month">{{ post.posted|format_month }}</span><span class="day">{{ post.posted|format_day }}</span></noscript></span>
							</header>
							{# include 'post_content.html' #}
							{% include 'post_content_a.html' %}
							{% else %}
							<header>
								<h4>My Daily3</h4><span class="counter"><span id="ccx">0</span> / 140</span>
							</header>
							<div id="post_daily3">
								<form id="post_form" method="post" action="{{ url_for('post_daily3_a', version='a')}}">
									<textarea id="item1" name="item1" maxlength="140"></textarea>
									<textarea id="item2" name="item2" maxlength="140"></textarea>
									<textarea id="item3" name="item3" maxlength="140"></textarea>
									<input id="post_button" class="button" type="submit" value="Post">
									<p id="loading"></p>
									<p>Also posts to /r/MyDaily3</p>
								</form>
								<script>
								$('textarea').bind('keyup keydown', function() {
								    var count = $('#ccx');
								    var characters = $(this).val().length;    
								    count.text(characters);
								});
								</script>
							</div>
							<script>
							$( "#post_form" ).submit(function( event ) {
 							  event.preventDefault();
 							  var $form = $( this ),
							    item1 = $form.find( "textarea[name='item1']" ).val(),
								item2 = $form.find( "textarea[name='item2']" ).val(),
								item3 = $form.find( "textarea[name='item3']" ).val(),
							    url = $form.attr( "action" );
 							  var posting = $.post( url, { item1: item1, item2:item2, item3:item3 } );
							  $( "#loading" ).html('<i class="fa fa-spinner fa-lg fa-spin"></i>'); 
							  $( "#post_button" ).prop("disabled",true);
							  posting.done(function( data ) { 
							    $( "#user_panel" ).replaceWith( data );
								$('#main_row').masonry({
									transitionDuration: 0,
									layoutPriorities: {
										shelfOrder: 1000
									}
								});
							  });
							});
							</script>
							{% endif %}
						</div>
						{% else %}
						<div id="user_post_a">
							<header>
								{% if not g.user %}
								<h2><a href="{{ g.login_url }}"><i class="fa fa-reddit fa-lg"></i> Login with reddit</a></h2>
								{% else %}
								<h2>Login temporarily disabled</h2>
								{% endif %}
							<header>
						</div>
						{% endif %}
						
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
							{% for category, message in messages %}
							<p class="error">Error: {{ message }}</p>
						    {% endfor %}
							{% endif %}
						{% endwith %}
					</section>