/* Bootstrap */

body
{
	background: #eee;
	color:#333;
	font-family: 'Oxygen', sans-serif;
	font-size:13px;
}

.dropdown-menu
{
	font-size:13px;
}

.dropdown-menu>li>a>i
{
	margin-right: 5px;
}

/*
.navbar-inverse 
{
	background:#333;
	border-color:#999;
	margin-bottom: 30px;
}

.navbar-brand 
{
	font-size:22px;	
	font-weight: bold;
}

.navbar-inverse .navbar-brand
{
	color:#eee;
}*/

/*.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}*/

.footer
{
	background:#ddd;
	color:#999;
	font-weight:bold;
	padding:10px 0;
}

a
{
	color:#333;
}

a:hover, a:focus
{
	color:#000;
	text-decoration:none;
}

.btn-custom {
  background-color: #333333;
  border-color: #333333;
  color:#FFF;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #262626;
  border-color: #1a1a1a;
  color:#FFF;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #262626;
  border-color: #1a1a1a;
}

.form-control
{
	font-size: 90%;
	padding: 5px;
	margin:15px 0;
}

/* Custom */

.post-item
{
	width:100%;
	margin-bottom:30px;
	padding:10px;
	background:#d9cecb;
	min-height: 210px;
}

.post-item ul 
{
	list-style:square;
	padding-left:20px;
	margin:20px 0;
}

.post-item ul li
{
	margin:10px 0;
}

.post-item p
{
	font-size:90%;
}

.post-item p a
{
	font-size:110%;
	font-weight:bold;
}

.post-item p a i, h5 a i
{
	margin-left:5px;
}


.user-post-item
{
	background:#9b3;
	border: 1px solid #6d8624;
	border-bottom:2px solid #6d8624;
	padding: 20px;
}

.user-post-item>h3
{
	margin-top: 10px;
}


.user-post-item h3, h4, h5
{
	margin: 0;
	font-weight:bold;
}

.user-post-item h3
{
	text-align: center;
	line-height: 160px;
}

a.fav :hover
{
	color:#C4192D;
}

.c1 /* Weathered or not - custom */
{
	background:#d9cecb;
	border-bottom:2px solid #bca9a4;
}

.c2 /* Paper Fawn */
{
	background:#FFCBA6;
	border-bottom:2px solid #ffa362;
}

.c3 /* La-La-Lavender */
{
	background:#EABBF7; 
	border-bottom:2px solid #d77ef0;
}

.c4 /* Baby Duc */
{
	background:#FFF982;
	border-bottom:2px solid #fff63e;
}

.c5 /* Minty Aqua */
{
	background:#A0F1C7;
	border-bottom:2px solid #65e8a4;
}

.faved
{
	color:#C4192D;
}

#user_head_b
{
	background:#4cc;
	padding:10px;
	border-bottom:2px solid #2ca0a0;
	margin-bottom: 20px;
}