				<section class="4u">
					<div class="blurb">
						<header>
							<h2>What is Daily3?</h2>
						</header>
						<ul>
							<li>Record 3 things about your day.</li>
							<li>See what others are doing.</li>
							<li>Feel awesome about keeping track of your life.</li>
						</ul>
					</div>
				</section>
				<section class="4u">
					<div class="blurb">
						<header>
							<h2>About Daily3</h2>
						</header>
						<ul>
							<li>Daily3 was born from <a href="http://reddit.com/2chg5w">this post</a> on <a href="http://reddit.com/r/LifeProTips">r/LifeProTips</a>.</li>
							<li>Send feedback to <a href="http://reddit.com/u/orionmelt">u/orionmelt</a></li>
						</ul>
					</div>
				</section>