					<div id="user_panel">
						{% if g.user %}
						<div id="user_post_b" class="post-item user-post-item">
							{% if g.user_post %}
							{% set post = g.user_post %}
							<div class="row">
								<div class="col-md-6">
									<h4>My Daily3</h4>
								</div>
								<div class="col-md-6 text-right">
									<h5 class="text-right">
										<span id="uppd">
											<script>$("#uppd").text(moment(moment.utc('{{ post.posted }}').toDate()).format("MMM D"));</script>
										</span> 
										{% if post.source_link %}
											<a href="{{ post.source_link }}" title="view on reddit"><i class="fa fa-comment"></i></a>
										{% endif %}
										{% if g.user %}
											<a class="fav {% if post.faved %}faved{% endif %}" href="{{ url_for('favorite', post_id=post.key.urlsafe()) }}"><i class="fa fa-heart"></i></a>
										{% endif %}
									</h5>
								</div>
							</div>
							<ul>
								{% if post.item1 %}<li>{{ post.item1 }}</li>{% endif %}
								{% if post.item2 %}<li>{{ post.item2 }}</li>{% endif %}
								{% if post.item3 %}<li>{{ post.item3 }}</li>{% endif %}
							</ul>
							{% else %}
							<div class="row">
								<div class="col-md-6">
									<h4>My Daily3</h4>
								</div>
								<div class="col-md-6 text-right">
									<p><span id="ccx">0</span> / 140</p>
								</div>
							</div>
							<form id="post_form" method="post" action="{{ url_for('post_daily3') }}">
								<textarea class="form-control" id="item1" name="item1" maxlength="140"></textarea>
								<textarea class="form-control" id="item2" name="item2" maxlength="140"></textarea>
								<textarea class="form-control" id="item3" name="item3" maxlength="140"></textarea>
								<div class="row">
									<div class="col-md-3">
										<button id="post_button" class="btn btn-custom">Post</button>
									</div>
									<div class="col-md-3">
										<p id="loading"></p>
									</div>
									<div class="col-md-6 text-right">
										<p>Also posts to /r/MyDaily3</p>
									</div>
								</div>
							</form>
							<script>
								$('textarea').bind('keyup keydown', function() {
								    var count = $('#ccx');
								    var characters = $(this).val().length;    
								    count.text(characters);
								});
							</script>
							<script>
							$( "#post_form" ).submit(function( event ) {
 							  event.preventDefault();
 							  var $form = $( this ),
							    item1 = $form.find( "textarea[name='item1']" ).val(),
								item2 = $form.find( "textarea[name='item2']" ).val(),
								item3 = $form.find( "textarea[name='item3']" ).val(),
							    url = $form.attr( "action" );
 							  var posting = $.post( url, { item1: item1, item2:item2, item3:item3 } );
							  $( "#loading" ).html('<i class="fa fa-spinner fa-lg fa-spin"></i>'); 
							  $( "#post_button" ).prop("disabled",true);
							  posting.done(function( data ) { 
							    $( "#user_panel" ).replaceWith( data );
								$('#main_row').masonry({
									transitionDuration: 0,
									layoutPriorities: {
										shelfOrder: 1000
									}
								});
							  });
							});
							</script>
							{% endif %}
						</div>
						{% else %}
						<div id="user_post_b" class="post-item user-post-item">
							{% if not g.user %}
							<h3><a href="{{ g.login_url }}"><i class="fa fa-reddit fa-lg"></i> Login with reddit</a></h3>
							{% else %}
							<h3>Login temporarily disabled</h3>
							{% endif %}
						</div>
						{% endif %}
						
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
							{% for category, message in messages %}
							<p class="error">Error: {{ message }}</p>
						    {% endfor %}
							{% endif %}
						{% endwith %}
					</div>